<% layout( 'layout') -%>

<div class="row">
  <div class="col-sm-12">
    <div class="well">
      Mediation
      <form method="post" action="grnti_upload" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" name="grnti_files" multiple>
          <input type="submit" value="Upload">
        </div>
      </form>
    </div>
    <div class="well">
      Rating
    </div>
    <div class="well">
      Billing
    </div>
  </div>
</div>
