<% layout( 'layout') -%>

<div class="well">
  <div class="page-header">
    <h3>Data import</h3>
    <p>
      Specify a ".csv" and data type and press "Import" button.
      If importing the ratesheet it will be named like the import .csv file
    </p>
  </div>
  <form method="post" action="/import_csv" enctype="multipart/form-data">
    <div class="form-group">
      <input type="file" name="csv_file">
      <input type="checkbox" id="with_header" name="header">Header?
      <select class="form-control" name="import" id="import-type">
        <option value="">Select data to import</option>
        <option value="account">Account</option>
        <option value="numbers">Numbers</option>
        <option value="ratesheet">Ratesheet</option>
      </select>
      <div class="import-rs-type" id="import-rs-type">
        <select class="form-control" name="rstype">
          <option value="ratesheet">Ratesheet</option>
          <option value="discount">Discount</option>
        </select>
      </div>
      
      <input type="submit" value="Import">
    </div>
  </form>

  <div class="well">
    <div class="page-header">
      <h2>Output<h2>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(e){
  import_rs_show_type();
  });
</script>
