<!DOCTYPE html>
<html>
  <head>
    <title><%= ctx.title %></title>
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/safety.js"></script>
    <script type="text/javascript" src="/javascripts/paging.js"></script>
    <script type="text/javascript" src="/javascripts/update.js"></script>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	  <div class="navbar-header col-md-3">
	    <a class="navbar-brand" href="/dashboard"><%= ctx.title %></a>
	  </div>
	  
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
	      <li><a href="/accounts">Account</a></li>
	      <li><a href="/numbers">Numbers</a></li>
	      <li><a href="/ratesheets">Ratesheet</a></li>
              <li><a href="/charges">Extra Charges</a></li>
	      <li><a href="/regions">Regions/Zones</a></li>
	      <li><a href="/mediation">Mediation</a></li>
	      <li><a href="/rating">Rating</a></li>
              <li><a href="/billing">Billing</a></li>
	      <li><a href="/actions">Actions</a></li>
	      <li><a href="/settings">Settings</a></li>
              <li><a href="/imports">Imports</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="container-fluid">
      <%- body %>
    </div>
    <footer class="footer navbar-fixed-bottom">
      <div class="container"><p>CatzRulzDev &#169;</p></div>
    </footer>
    <div class="modal-window" id="modal-window">
      <div class="modal-header" id="modal-header">
      </div>
      <div class="modal-body" id="modal-body">
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function(e){
    var update = <%- JSON.stringify(ctx.update) %>;
    render_update(update);
    });
    
  </script>
</html>
