<% layout( 'layout') -%>

<div class="well">
  <h3>Find...</h3>
  <form action="/numfind" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="search">Number</label>
      <div class="col-sm-9">
	<input type="text" name="search" id="search" class="form-control" placeholder="Account ID or number"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
	<button type="submit" class="btn btn-default">Check</button>
      </div>
    </div>
  </form>
  <ul>
    <%
       if(numbers){
       numbers.forEach(function(num){
       %>
    <li>
      <p>
	<span>
	  <%= num.number %> - <%= num.account %>
	</span>
	<span>
	  <a href="/numdestroy/<%= num._id %>">Delete</a>
	</span>
      </p>
    </li>
    <% }); }; %>
  </ul>
</div>


<div class="well">
  <h3>...or add number</h3>
  <form action="/numbercreate" method="post" accept-charset="utf-8" class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="number">Number</label>
      <div class="col-sm-9">
	<input type="text" name="number" id="number" class="form-control" placeholder="Specyfy  range as 1234500-99"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="account">Account</label>
      <div class="col-sm-9">
	<input type="text" name="account" id="account" class="form-control" placeholder="ID of an account"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
	<button type="submit" class="btn btn-default">Add</button>
      </div>
    </div>
  </form>
</div><!-- well div -->
