<% layout( 'layout') -%>

<div class="row-fluid">
  <div class="col-sm-12">
    <div class="col-sm-4">
      <div class="well">
	<div class="page-header">
	  <h3>Ratesheet<small> show</small></h3>
	</div>
	<form action="/ratesheetedit" method="post" accept-charset="utf-8" class="form-horizontal" role="form" id="rsshow">
	  <div class="form-group">
	    <label class="control-label col-sm-3" for="ratesheet">Ratesheet</label>
	    <div class="col-sm-9">
	      <select class="form-control" name="ratesheet" id="ratesheet" form="rsshow">
		<option value="">Select ratesheet</option>
		<% ctx.ratesheets.forEach(function(rs){ %>
		<option value="<%= rs._id  %>"><%= rs.name  %></option> 
		<% }); %>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-1">
	      <button type="submit" class="btn btn-default">Check</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="well">
	<div class="page-header">
	  <h3>...Or create<small> new</small></h3>
	</div>
	<form action="/ratesheetcreate" method="post" accept-charset="utf-8" class="form-horizontal" role="form" id="rscreate">
	  <div class="form-group">
	    <label class="control-label col-sm-3" for="search">Ratesheet name</label>
	    <div class="col-sm-9">
	      <input type="text" name="rsname" id="rsname" class="form-control" placeholder="Ratesheet name"/>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-3" for="search">Ratesheet type</label>
	    <div class="col-sm-9">
	      <select class="form-control" name="ratesheettype" id="ratesheettype" form="rscreate">
		<option value="ratesheet">Ratesheet</option>
		<option value="discount">Discount</option>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-1">
	      <button type="submit" class="btn btn-default">Create</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="well">
	<div class="page-header">
	  <h3>Danger<small> zone</small></h3>
	</div>
	<form action="/ratesheetdelete" method="post" accept-charset="utf-8" class="form-horizontal" role="form" id="delratesheet">
	  <div class="form-group">
	    <label class="control-label col-sm-3" for="rsid">Ratesheet</label>
	    <div class="col-sm-9">
	      <select class="form-control" name="rsid" id="rsid" form="delratesheet">
		<option value="">Select ratesheet</option>
		<% ctx.ratesheets.forEach(function(rs){ %>
		<option value="<%= rs._id  %>"><%= rs.name  %></option> 
		<% }); %>
	      </select>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="control-label col-sm-3"><input type="checkbox" id="del_ratesheet_checkbox" >I'm sure</label>
	    <div class="col-sm-1">
	      <button type="submit" class="btn btn-danger disabled" id="del_ratesheet_btn">Delete</button>
	    </div>
	  </div>
	</form>
      </div>
    </div>
  </div>
</div> <!-- row div -->

<script>
  $(document).ready(function(e){
  
  safe_del_button($('#del_ratesheet_checkbox'), $('#del_ratesheet_btn'));
  
  });
</script>
