* {
    margin: 0;
    padding: 0;
    overflow: visible; // forces a built-in PDF rendering gotcha in WebKit so that images never span 2 pages
}
img {
    margin-top:20px;
    max-width: 92%; // images will never overflow off the right hand side of a page
}
.page-break {
    display: block;
    page-break-before: always; // force a page break
}

body {
    margin: 20px;
    padding: 0;
    width: 210mm;
    height: 297mm;
}

table {
    border-collapse:collapse;
    border-spacing: 0;
    width: 100%;
    font-size:12px;
    color: black;
}

th {
    color: #9c9c9c;
}

thead th {
    border-right: 1px solid grey;
}

tbody td.border {
    border-right: 1px solid grey;
}

td.summary {
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    color: #00607c;
    font-weight:bold;
}

.important {
    background-color: #00607c;
    color: #ffffff
}

tr {
    margin-bottom: 5px;
}

p {
    font-color: black;
}

.header { top: 0; height: 10%; }
.main { height: 85%; }
.footer { bottom: 0; height: 5%; }
.row { width: 210mm; }
.column-left{ float: left; width: 30%; }
.column-right{ float: right; width: 40%; }
.column-center{ display: inline-block; width: 20%; }

.cust-detail {
    margin-top: 5px;
    border-bottom: 1px solid grey;
    height: 150px;
    margin-bottom: 35px;
}

.address {
    text-align: left;
    padding-top: 20px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    height: 100%;
}

.billing {
    padding-top: 20px;
    height: 100%;
}

.billsummary {
    padding-top: 20px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    height: 100%;
}

tr.markit th{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

tr.markit td{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.page-header {
    font-weight: bold;
    color: #7fba00;
}

.recurring {
    margin-top: 10px;
}

.nonrecurring {
    margin-top: 10px;
}

.calls {
    margin-top: 10px;
}